<section id = "ida_structures">
	<h1>STRUTTURE DELLA SCUOLA</h1>

	<p class = "ida_description">La scuola è dotata di diverse strutture e ampi spazi per svolgere le attività didattiche ed ospitare gli eventi organizzati durante l'anno scolastico.</p>
	
	<div id = "ida_list_structures">
		<ul>
    		<% @structures.each do |s| %>
        		<li class = "bullet">
           			<%= link_to s.name, structure_path(s) %>
        		</li>
    		<% end %>
  		</ul>
	</div>
</section>