<% provide(:title, 'INCONTRI') %>

<h1>INCONTRI CLASSE <%= @course.name %></h1>

<p class="short_line">Data, ora e aula: <%= @meeting.datetime.to_formatted_s(:long) + ' ' + @meeting.location %></p>

<div class="transition_link">
  <h4>Professori che partecipano</h4>
  <ul class="horizontal">
    <% @professors.each do |p| %>
      <li >
        <%= link_to p.name+' '+p.surname, professor_path(p, from_meeting: @meeting) %>
      </li>
    <% end %>
  </ul>
</div>

<%= render 'meetings/mini_footer' %>