<section id = "home">
	<h1>BENVENUTO A SKUOLA 42</h1>
	<h2>La scuola delle verità</h2>
	
	<iframe width="560" height="315" src="//www.youtube.com/embed/aboZctrHfK8"></iframe>
	
    <%= link_to 'Pagine editoriali', editorials_path %>
</section>