<% provide(:title, 'EVENTI') %>

<h1>EVENTO <%= @event.name %></h1>

<div class="structural_link">
  <ul class="horizontal">
    <li>
    	 <%= link_to 'Info pratiche', event_path(@event) %>
    </li>
    <li>
     	 <%= link_to 'Descrizione dettagliata', show_description_event_path(@event) %>
    </li>
  </ul>
</div>

<h1><%= yield(:sub_title) %></h1>