<div class ="group_link">
  	<ul class="horizontal">
   		<li>
			<%= link_to "Eventi per #{@type.name}", events_path(id: @type.id) %>
		</li>
	</ul>
</div>

<div class="transition_link">
  <h3>Materie collegate</h3>
  <ul class="horizontal">
    <% @related_subjects.each do |s| %>
      <li>
        <%= link_to s.name, subject_path(s, from_event: @event.id) %>
      </li>
    <% end %>
  </ul>
</div>

<div class = "back_link">
	<%= link_to "Torna agli eventi ospitati dalla struttura #{@from_host.name}", show_events_structure_path(@from_host_id) if @from_host_id %>
	<%= link_to "Torna agli eventi che riguardano #{@from_events_subject.name}", show_events_subject_path(@from_events_subject_id) if @from_events_subject_id %>
</div>