<h1>CATEGORIE DI EVENTO</h1>

<p class = "ida_description">La scuola organizza varie categorie di eventi, a cui occasionalmente partecipano persone importanti e conosciute a livello nazionale. Si affronteranno tematiche interessanti che non potrete perdere.</p>

<div class = "group_link">
  <ul class="horizontal">
    <% @event_types.each do |t| %>
      <li class = "bullet">
        <%= link_to t.name, index_types_event_path(t) %>
      </li>
    <% end %>
  </ul>
</div>