<h1>EVENTI IN <%= @type.name %></h1>

<p class="ida_description"><%= @type.description %></p>

<ul class="horizontal">
  <% @events.each do |e| %>
    <li class>
      <%= link_to e.datetime.to_formatted_s(:short)+' '+e.name, event_path(e) %>
    </li>
  <% end %>
</ul>

<div class="group_link">
  <ul class="horizontal">
    <li>
      <%= link_to "Tutti i generi di evento", events_path %>
    </li>
  </ul>
</div>