<% provide(:sub_title, "Interventi") %>
<%= render 'events/mini_header' %>

<p class = "description_topic"><%= @event.participations %></p>

<div class = "transition_link">
  <ul class="horizontal">
    <li>
		  <%= link_to "Struttura che ospita l'evento", structure_path(@host_structure) %>
		</li>
	</ul>
</div>

<%= render 'events/mini_footer' %>