<% provide(:title, 'SKUOLA') %>

<h1>SKUOLA 42: STORIA E TRADIZIONE</h1>

<div class = "image"><%= image_tag("school.jpg") %></div>

<p class = "description_topic">La storia di Skuola 42, si può far iniziare con un evento spiegato dalla «teoria del Big Bang», espressione coniata dallo scienziato George Gamow. Secondo tale teoria la scuola si sarebbe autogenerata, espandendosi da un punto di infinita densità (una metafora molto usata, sebbene impropria, è quella di una colossale esplosione). L'interpretazione sulle origini della scuola è una questione al confine tra scienza e filosofia: la possibilità di una validazione empirica delle varie ipotesi risulta spesso ardua se non impossibile.</p>
