<section id = "school_association">
	<h1>ASSOCIAZIONE GENITORI</h1>
	
  	<p class = "description_topic">L' Associazione Genitori 42 è lieta di darvi il benvenuto. La nostra Associazione, costituita in un tempo non specificato, è una libera Associazione indipendente e senza scopo di lucro, che svolge nell'ambito dell'Istituto, una intensa attività al fine di facilitare, a genitori e studenti, un reale inserimento ed una fattiva partecipazione alla vita scolastica. Tutte le nostre iniziative sono improntate ad un vivo senso di collaborazione con le autorità didattiche ed i docenti, nel rispetto delle funzioni e dell'autonomia di ogni componente della scuola. L'attività dell'Associazione Genitori consiste in: 1) Acquisto libri di testo, promozione di incontri con personalità della cultura e del mondo del lavoro, organizzazione di dibattiti su argomenti di attualità, concerti. Organizzazione di corsi di ingresso alla prima e di recupero, tenuti da qualificati docenti esterni, se richiesti dai genitori e previo benestare del Consiglio d'Istituto.  2) Attenzione ai problemi che insorgono nella scuola, segnalazione degli stessi agli organi scolastici competenti, o alle famiglie, ed impegno per la loro soluzione. Crediamo che l'attenzione dei genitori sia elemento molto importante: i suggerimenti, l'impegno ed il sostegno di ciascuno potranno contribuire a migliorare la qualità della vita nella scuola.</p>
  	
  	<p class = "short_line">Referente: Alien</p>
  	
  	<p class = "short_line">X Tel: 030/4242424 - Fax: 030/424242</p>
  	
  	<p class = "short_line">Email: associazionegenitori@skuola42.it</p>
</section>
