<h1>SKUOLA 42: REGOLE GENERALI</h1>

<p class = "description_topic">Nella scuola tutto è governato da un sottile ordine naturale, basta infrangere un paio di leggi e gli equilibri saltano. Smaterializzate i vostri pensieri in piccole parti e andiamo ad analizzare il problema matematico attraverso degli assiomi: regole che non prevedono eccezioni.</p>

<p class = "short_line">Prima regola: Non partire mai dal presupposto di dover avere un incontro ravvicinato del terzo tipo.</p>

<p class = "short_line">Seconda regola: Non dire cavolate, e se lo fai che siano infinitesime.</p>

<p class = "short_line">Terza regola: Non correre alla velocità della luce nei corridoi galattici.</p>

<p class = "short_line">Quarta regola: Non disturbare con strani rumori le lezioni, e se proprio devi usa le frequenze non udibili.</p>

<p class = "short_line">Quinta regola: Non usare mai il 42, anche nelle interrogazioni.</p>
