<section id = "school_missions">
	<h1>MISSIONE E PRINCIPI</h1>
	
  	<p class = "description_topic">La conoscenza non muore mai come genere. Progredisce all'infinito, in forme e modi che per il momento non possiamo sapere. Il genere umano potrebbe progredire così tanto, potrebbe maturare una coscienza così grande da avvertire come troppo stretti, troppo angusti, i confini attuali. Lo scopo della scuola è quello di far prendere coscienza ai ragazzi delle proprie capacità. C'è dunque un finalismo che solo dal punto di vista dell'uomo possiamo comprendere. Il numero 42 è il segreto più grande, e solo chi avrà il coraggio di andare fino in fondo lo sfiorerà. Non dobbiamo quindi dimenticarci che quanto più ci avviciniamo alla comprensione di tale finalismo, tanto più avvertiamo Skuola 42 come troppo piccola per la nostra coscienza. Esiste quindi una responsabilità cui non possiamo sottrarci: i professori e gli studenti hanno il compito di evolvere verso l'autocoscienza. Qui forse sta il senso della irreversibilità dei voti.</p>
</section>
