<% provide(:sub_title, "PROFESSORI CHE INSEGNANO #{@subject.name}") %>
<%= render 'subjects/mini_header' %>

<div class="transition_link">
  <ul class="horizontal">
    <% @professors.each do |p| %>
      <li>
          <%= link_to p.surname+' '+p.name, professor_path(id: p, from_subject: @subject.id) %>
      </li>
    <% end %>
  </ul>
</div>

<% provide(:group_name, 'Materie per anno scolastico') %>
<%= render 'subjects/mini_footer' %>

