<% provide(:sub_title, "DESCRIZIONE #{@subject.name}") %>
<%= render 'subjects/mini_header' %>

<div class = "image">
    <%= image_tag("/subjects/#{@subject.img_url}") %>
  </div>

<p class="description_topic"><%= @subject.description %></p>

<% provide(:group_name, 'Materie per anno scolastico') %>
<%= render 'subjects/group_link' %>