<section id = "tda_professors_subject">
	<h1>PROFESSORI CHE INSEGNANO: <%= @subject.name %></h1>
	
	<div id = "tda_list_professors_subject">
  		<ul>
    		<% @professors.each do |p| %>
        		<li class = "bullet">
           			<%= link_to p.surname+' '+p.name, professor_path(id: p, from_subject: @subject.id) %>
        		</li>
    		<% end %>
  		</ul>
  	</div>
    
    <div class = "transition_link">
  		<%= link_to "Indietro alla materia #{@subject.name}", subject_path(@subject) %> </br>
  	</div>
</section>