<% provide(:sub_title, "CLASSI CHE FANNO #{@subject.name}") %>
<%= render 'subjects/mini_header' %>

<div class="transition_link">
  <ul class="horizontal">
    <% @courses.each do |c| %>
      <li>
      <%= link_to c.name, course_path(id: c, from_subject: @subject.id) %>
      </li>
    <% end %>
  </ul>
</div>

<% provide(:group_name, 'Materie per anno scolastico') %>
<%= render 'subjects/mini_footer' %>