<% provide(:sub_title, "EVENTI CHE RIGUARDANO #{@subject.name}") %>
<%= render 'subjects/mini_header' %>

<div class="transition_link">
  <ul class="horizontal">
    <% @events.each do |e| %>
      <li>
          <%= link_to e.datetime.to_formatted_s(:short)+' '+e.name, event_path(id: e, from_events_subject: @subject.id) %>
      </li>
    <% end %>
  </ul>
</div>

<% provide(:group_name, 'Materie per anno scolastico') %>
<%= render 'subjects/group_link' %>