<div class="group_link">
  <div>
    <ul class="horizontal">
      <li>
        <%= link_to 'Tutte le classi', courses_path %> 
    </ul>
  </div>
</div>

<div class = "back_link">
	<%= link_to "Torna alle classi in cui si fa #{@from_subject.name}", show_courses_subject_path(@from_subject_id) if @from_subject_id %>
</div>