<div class = "transition_link">
  <h3>Materie</h3>
    <ul class="horizontal">
      <% @subjects.each do |s| %>
        <li>
          <%= link_to s.name, subject_path(id: s, from_course: @course) %>
        </li>
      <% end %>
    </ul>
</div>