

#landmarks {
  margin: 0.5em 0.5em 0.5em 0.5em;
  ul {
    list-style: none;
    margin: 8px 0 0 0;
    padding: 0;
    width: 140px;
    h4 {
      font-family: Monaco, Consolas, "Lucida Console", monospace;
      margin: 0.5em 0.5em 0 0.2em;
    }
    li {
      border-bottom: 1px solid #cecfd5;
      &:last-child {
        border-bottom: 0;
      }
      a:hover {
        background-color: #fafafa;
        color: #40ccb8;
      }
    }
  }
}