/* universal */

* {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  overflow: hidden;
}

html {
  overflow: scroll;
  font-family: sans-serif;
  font-size: 0.875em;
}

footer {
  text-align: center;
  clear: left;
}

a {
  color: #0087cc;
  display: inherit;
  padding: 6px 12px;
  text-decoration: none;
}

.inline {
  display: inline;
}

.left {
  float: left;
}

.right {
  float: right;
}

.structural_link ul.horizontal{
  border: 1px solid #8888ff;
    li a:hover {
      background-color: #8888ff;
      color: #ffffff;
    }
}

.transition_link ul.horizontal{
  border: 1px solid #ff6060;
    li a:hover {
      background-color: #ff6060;
      color: #ffffff;
    }
}

.group_link {
  padding-top: 4em;
  clear: both;
}

.group_link ul.horizontal{
  border: 1px solid #aaaa00;
    li a:hover {
      background-color: #aaaa00;
      color: #ffffff;
    }
}

.back_link {
  border: 3px solid #cc6633;
  margin: 0;
  padding: 0;
  display: table-cell;
  a:hover {
    background-color: #cc6633;
    color: #ffffff;
  }
}

ul {
  border-radius: 6px;
}

ul.horizontal {
  border: 1px solid #cecece;
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  li {
    display: table-cell;
    border-right: 1px solid #cecece;
    &:last-child {
      border-right: 0;
    }
    a:hover {
        background-color: #cecece;
      color: #ffffff;
    }
  }
}