<% provide(:sub_title, "ATTIVITA' EXTRA: #{@activity.name}") %>
<%= render 'activities/mini_header' %>
  
<h3>Modalità</h3>

<p class="description_topic"><%= @activity.modality %></p>
    
<div class="transition_link">
  <ul class="horizontal">
    <li>
      <%= link_to "Professore responsabile dell'attività", professor_path(@professor, from_activity: @activity) %>
    </li>
  </ul>
</div>

<% provide(:group_name, 'Tutte le attività') %>
<%= render 'activities/mini_footer' %>